<!DOCTYPE HTML>

<html>
<head>
	<meta charset="UTF-8">
	<title>Project3</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="index.html"><h5>Ordering</h5></a>
			</div>
			<ul id="navigation">
				<li class="active">
					<a href="index2.html">Home</a>
				</li>
				<li>
					<a href="features.php">Check Order</a>
				</li>
				<li>
					<a href="news.php">Delivery</a>
				</li>
				<li>
				     <a href="contact.php">Contact Us</a>
				</li>
				<li>	
				     <a href="/new/index.php">Logout</a>
				
				</li>
				
			</ul>
		</div>
	</div>
	<div id="adbox">
		<div class="clearfix">
			<img src="images/box.png" alt="Img" height="280" width="200">

			<div>
</div>

        <form action="deleteOrder.php" method="post">

            ID TO DELETE:&nbsp;<input type="text" name="id" required><br><br>

            <input type="submit" name="delete" value="Clear Data">

        </form>

    </body>
	</html>

</html>